#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

/* Barra azul fixa */
.top-blue-rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* fica acima do mapa */
}

.top-blue-curve {
  display: block;
  width: 100%;
  height: 100px; /* ajusta conforme quiser */
}

/* Área do conteúdo (mapa, rotas, etc.) */
.content {
  position: relative;
  height: 100vh;   /* ocupa a tela inteira */
  z-index: 1;      /* mapa abaixo do azul */
  margin-top: -40px; /* faz o mapa “subir” e entrar por baixo do azul */
}

/* Faz os botões de zoom aparecerem acima de tudo */
.leaflet-control-container {
  z-index: 2000 !important;
}

.leaflet-top,
.leaflet-left {
  top: 120px !important; /* desce os botões */
  left: 10px !important;
}

